<%= form_with(model: shift, local: true) do |form| %>
  <% if shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start, id: :shift_start %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end, id: :shift_end %>
  </div>

  <div class="field">
    <%= form.label :manner1_id %>
    <%= form.collection_select :manner1_id, User.where(manner: true), :id, :firstName, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :manner2_id %>
    <%= form.collection_select :manner2_id, User.where(manner: true), :id, :firstName, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :manner3_id %>
    <%= form.collection_select :manner3_id, User.where(manner: true), :id, :firstName, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
