<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">

    <%= link_to 'Home', root_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Gracepoint', "http://gracepointonline.org", class: "w3-bar-item w3-button" %>
    <%= link_to 'Meetups', events_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Inventory', inventory_path, class: "w3-bar-item w3-button" %>

 <% if user_signed_in? %>
  <% if current_user.manner or current_user.admin %>
    <%= link_to 'Shifts', shifts_path, class: "w3-bar-item w3-button" %>
    <a href="security" class="w3-bar-item w3-button">Security</a>
  <% end %>
<% end %>

 <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <% if user_signed_in? %>
          <%= link_to 'Edit Your User', edit_user_registration_path, class: "w3-bar-item w3-button" %>
          <%= link_to 'Log Out', destroy_user_session_path, class: "w3-bar-item w3-button", :method=>'delete' %><
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "w3-bar-item w3-button" %>
          <%= link_to 'Sign up', new_user_registration_path, class: "w3-bar-item w3-button" %>
        <% end %>
    </div>
  </div>
</div>

</br>
</br>

<div class="w3-content w3-padding" style="max-width:1564px">
<center>
<h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16">Shifts</h3>

  <% if user_signed_in? %>
    <% if current_user.manner or current_user.admin %>

      <%= month_calendar events: @shifts do |date, shifts| %>
        <%= link_to date, showdate_shift_path(date) %>

        <!--<% shifts.each do |shift| %>
          <% if shift.start.strftime("%Y-%m-%d") == date.strftime("%Y-%m-%d") %>
            <div>
              <% if shift.manner1_id != nil %>
                  <td><%= User.find(shift.manner1_id).firstName %></td>
                <% end %>
            </div>
          <% end %>
        <% end %>-->
      <% end %>

      <br>
      <%= link_to 'New Shift', new_shift_path, :class => "w3-button w3-white w3-border" %>
      <!-- , class: "w3-bar-item w3-button" -->

      </br>
      </br>
      </br>
      </br>

    <% else %>
     </br>
      Insufficient Privileges.  Be more faithful in the little things.
      </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <% end %>

  <% else %>
   </br>
    Insufficient Privileges.  Be more faithful in the little things.
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
  <% end %>

  </center>
  </div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
