
<!DOCTYPE html>
<html>
<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login100-form validate-form"}) do |f| %>
          <span class="login100-form-title p-b-34">
            Log in
          </span>
          <label class="label-input100" for="password">Email</label>
          <div class="wrap-input100 validate-input" data-validate = "Type user name">
            <%= f.email_field :email, class: "input100", type: "text", autofocus: true, placeholder: "Email", autocomplete: "email"%>
            <span class="focus-input100"></span>
          </div>
          <label class="label-input100" for="password">Password</label>
          <div class="wrap-input100">
            <%= f.password_field :password, class: "input100", type: "password", autofocus: true, placeholder: "Password", autocomplete: "off" %>
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              <%= f.submit "Sign in", class: "login100-form-btn" %>
            </button>
          </div>
          <div class="w-full text-center p-t-27 p-b-239">
            <div class="w-full text-center">
              <%= render "users/shared/links", class: "txt2" %>
            </div>
          </div>
          <% end %>
        <div class="login100-more"></div>
      </div>
    </div>
  </div>
  <div id="dropDownSelect1"></div>
</body>
</html>
