
<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif, background-color:coral;}
</style>
<body class="w3-light-grey">

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">

    <%= link_to 'Home', root_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Gracepoint', "http://gracepointonline.org", class: "w3-bar-item w3-button" %>
    <%= link_to 'Meetups', events_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Inventory', inventory_path, class: "w3-bar-item w3-button" %>

     <% if user_signed_in? %>
      <% if current_user.manner or current_user.admin %>
        <%= link_to 'Shifts', shifts_path, class: "w3-bar-item w3-button" %>
        <a href="security" class="w3-bar-item w3-button">Security</a>
      <% end %>
    <% end %>

    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <% if user_signed_in? %>
          <%= link_to 'Edit Your User', edit_user_registration_path, class: "w3-bar-item w3-button" %>
          <%= link_to 'Log Out', destroy_user_session_path, class: "w3-bar-item w3-button", :method=>'delete' %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "w3-bar-item w3-button" %>
          <%= link_to 'Sign up', new_user_registration_path, class: "w3-bar-item w3-button" %>
        <% end %>
    </div>
  </div>
</div>


<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
</br>
</br>
  <h1><b>MEETUP</b></h1>
  <p>Connect with your DL community here!! <span class="w3-tag">Test</span></p>
</br>
  <%= button_to "Create a meetup!", events_path, :class => "w3-button w3-white w3-border", :method => :patch %>
</header>


<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="http://static1.squarespace.com/static/528d9e1ce4b04fc308327f74/t/52912729e4b0af26b637f39d/1523656013388/" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>MEETUP: (Pinned by admin)</b></h3>
    </div>
    <div class="w3-container">
      <p>Hiya folks! Here, you can see various events and stuff that other members are up to. If it's a big rides, and you need rides, sign up for a ride!!! </p>
    </div>
  </div>
  <hr>
  <!-- Blog entry -->
  <% Event.all.each do |f| %>
  <div class="w3-card-4 w3-margin w3-white">
  <img src="https://brightcove04pmdo-a.akamaihd.net/5104226627001/5104226627001_5230047963001_5203640497001-vs.jpg?pubId=5104226627001&videoId=5203640497001" alt="Canada" style="width:100%">
    <div class="w3-container">
      <h3>Post made by:</h3>
      <%= User.find(f.user_id).firstName + " " + User.find(f.user_id).lastName %>
      <h5><b>Event title: </b> </h5> <h6><%= f.title %></h6>
          <h5><b>Event time: </b> </h5> <h6><%= f.time %></h6>

    </div>
    <div class="w3-container">
    	<h5>Details:</h5>
      <p><%= f.description %></p>
      <div class="w3-row">
  <% if f.need_rides %>
    <h5>People who can drive</h5>
    <% f.users.each do |user| %>
      <% if user.driver %>
        <br>
      	<%= user.firstName + " " + user.lastName %>
      	</br>
      <% end %>
    <% end %>
  	<h5>People who need rides</h5>
    <% f.users.each do |user| %>
      <% if !user.driver %>
        <br>
        <%= user.firstName + " " + user.lastName%>
        </br>
      <% end %>
    <% end %>
    <div class="w3-col m8 s12">
      <% if user_signed_in? %>
    <%= link_to 'Sign Up For Rides', edit_event_path(id: f.id, user_id: current_user.id), method: :patch %>
  <% end %>
  </div>
  <% else %>
  <% end %>
        <div class="w3-col m4 w3-hide-small">
        </div>
      </div>
    </div>
  </div>
  <% end %>
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://avatars2.githubusercontent.com/u/28812028?s=460&v=4 style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Moderator:</b></h4>
      <p>I'm Emmett, and I am the admin of this site. Hope you all have a great time! If any of you guys are in Data 8, HMU!</p>
    </div>
  </div><hr>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>

<!--  <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
        </div>
      </div> -->
