<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">

    <%= link_to 'Home', root_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Inventory', inventory_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Shifts', shifts_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Gracepoint', "http://gracepointonline.org", class: "w3-bar-item w3-button" %>
    <%= link_to 'Koinonia', "http://koinberkeley.org", class: "w3-bar-item w3-button" %>
    <%= link_to 'a2f', "http://a2fberkeley.org", class: "w3-bar-item w3-button" %>

     <% if user_signed_in? %>
      <% if current_user.manner or current_user.admin %>
        <a href="security" class="w3-bar-item w3-button">Security</a>
      <% end %>
    <% end %>

    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <% if user_signed_in? %>
          <%= link_to 'Edit Your User', edit_user_registration_path, class: "w3-bar-item w3-button" %>
          <%= link_to 'Log Out', destroy_user_session_path, class: "w3-bar-item w3-button", :method=>'delete' %><
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "w3-bar-item w3-button" %>
          <%= link_to 'Sign up', new_user_registration_path, class: "w3-bar-item w3-button" %>
        <% end %>
    </div>
  </div>
</div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <%= image_tag("DLfrontside.jpg", :alt => "Durant Loft", style: 'height:100%;width:100%;') %>
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-orange">Durant</span> <span class="w3-hide-small w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Loft</b></span></h1>
    </div>
  </header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

<center>
  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16">Welcome to the Inventory!</h3>
    <h4 class="w3-padding-2"> Hello! </br>
        When adding items, please categorize it under "Audio/Visual", "Games/Books", "Lost and Found", or "Events". </br>
        If you are permanently removing items, please use the remove button. </br>
        If you are borrowing stuff with intent to return it, please use the checkout button and leave a note when you'll put it back. </br>
    </h4>
</center>
      <h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16"> Add an item to storage </h3>

          <%= form_tag create_item_path do %>
            <h4 class="w3-padding-2"> <%= label_tag(:name, "Name") %> </h4>
            <h4 class="w3-padding-2"> <%= text_field_tag(:name) %> </h4>
            <h4 class="w3-padding-2"> <%= label_tag(:category, "Category") %> </h4>
            <h4 class="w3-padding-2"><%= select_tag(:category, options_for_select([["Audio/Visual"],["Events"],["Lost and Found"], ["Games/Books"], ["Other"]])) %></h4>
            <%= submit_tag("Add Item", class:"w3-button w3-black w3-section") %>

            <% end %>



</br>
</br>

<h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16">Inventory</h3>

          <% @items.each do |t| %>
            <%= t.name %>
            <%= t.category %>
            <%= link_to 'Remove', destroy_item_path, :method=>'delete' %>
            <button class="w3-button w3-black w3-section" type="submit">
              <i class="fa fa-paper-plane"></i> CHECKOUT ITEM
            </button>
            <br>
            <% end %>
  </div>



<!-- End page content -->
</div>


<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
