<a href="/" class="w3-bar-item w3-button">Home</a>

<!-- <%= form_for @event do |f| %>
	<%=f.label :firstName %>
	<%=f.text_field :firstName %> <br/>

	<%=f.label :lastName %> 
	<%=f.text_field :lastName %> <br/>

	<%= f.label :Driver? %> 
	<%= f.check_box :need_rides %><br />

	<%= f.submit %>
<% end %>-->



<!-- <a href="/" class="w3-bar-item w3-button">Home</a>

<%= form_tag rides_path do %>
	<%= label_tag(:firstName, "firstName") %>
	<%= text_field_tag(:firstName) %> <br/>

	<%= label_tag(:lastName, "lastName") %>
	<%= text_field_tag(:lastName) %> <br/>

	<%= label_tag(:Driver?, "Can you drive for this event???") %> 
	<%= check_box_tag(:driver) %><br />

	<%= submit_tag("Submit boi") %>
<% end %> -->