<h1>This page is bat ugly right now, but since none of us know web design, it will do for now. </h1>
<h2> Hiya friend! To create an event/meetup, please enter the following:</h2>
<br>
The event title, what the event is about, what time, and also if rides will be needed.
</br>
<%= form_for @event do |f| %>
	<%=f.label :title %>
	<%=f.text_field :title %> <br/>

	<%=f.label :description %>
	<%=f.text_area :description %> <br/>

	<%= f.label :need_rides? %> 
	<%= f.check_box :need_rides %><br />

	<%= f.submit %>
<% end %>

