<!DOCTYPE html>
<html>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

</br>
</br>

<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "w3-padding-2" %>
    <%= form.text_field :name, id: :name %>
  </div>

  <div class="field">
    <%= form.label :category, class: "w3-padding-2" %>
    <%= form.select :category, ['Audio/Visual', 'Books/Games', 'Events', 'Lost and Found', 'Other'] %>
  </div>

  <div class="field">
    <%= form.label :User_id %>
    <%= form.collection_select :User_id, User.all, :id, :firstName, include_blank: true %>
  </div>

  <div class="w3-padding-2">
    <%= form.submit %>
  </div>
<% end %>
