<!DOCTYPE html>
<html>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

</br>
</br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>User:</strong>
  <% if @item.user_id != nil %>
  	<%= User.find(@item.user_id).firstName %>
  <% end %>
</p>

<%= link_to 'Edit', edit_item_path(@item), class: "w3-button w3-dark-grey w3-section" %> |
<%= link_to 'Remove', destroy_item_path(id: @item.id), class: "w3-button w3-dark-grey w3-section", :method => :patch %> |
<%= link_to 'Back', inventory_path, class: "w3-button w3-dark-grey w3-section" %> 
