<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">

    <%= link_to 'Home', root_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Gracepoint', "http://gracepointonline.org", class: "w3-bar-item w3-button" %>
    <%= link_to 'Meetups', events_path, class: "w3-bar-item w3-button" %>
    <%= link_to 'Inventory', inventory_path, class: "w3-bar-item w3-button" %>

     <% if user_signed_in? %>
      <% if current_user.manner or current_user.admin %>
        <%= link_to 'Shifts', shifts_path, class: "w3-bar-item w3-button" %>
        <a href="security" class="w3-bar-item w3-button">Security</a>
      <% end %>
    <% end %>

    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
        <% if user_signed_in? %>
          <%= link_to 'Edit Your User', edit_user_registration_path, class: "w3-bar-item w3-button" %>
          <%= link_to 'Log Out', destroy_user_session_path, class: "w3-bar-item w3-button", :method=>'delete' %><
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: "w3-bar-item w3-button" %>
          <%= link_to 'Sign up', new_user_registration_path, class: "w3-bar-item w3-button" %>
        <% end %>
    </div>
  </div>
</div>
  
  <!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1400px; max-height:1200px;" id="home">
  <!--<img src="durantloft.jpg" alt="I can't get the image to show">-->
  <!--<img class="w3-image" src="/w3images/architect.jpg" alt="Architecture" width="1500" height="800">-->
  <%= image_tag("DL.JPG", :alt => "Durant Loft", style: 'height:100%;width:100%;') %>
  <div class="w3-display-middle w3-margin-top w3-center">
    <!-- <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Durant</b></span> <span class="w3-hide-small w3-text-orange">Loft</span></h1> -->
    <h1 class="w3-xxlarge w3-text-orange">Durant</span> <span class="w3-hide-small w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Loft</b></span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

</br>
</br>

<center>
  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16">Welcome to the Inventory!</h3>
    <h4 class="w3-padding-2"> Hello! </br>
        If you are permanently removing items, please use the remove button. </br>
        If you are borrowing stuff with intent to return it, please use the edit button to change the user. </br>
    </h4>
      <%= link_to "Add an item to storage.", new_item_path, class: "w3-button w3-dark-grey w3-section" %>
</center>

</br>
</br>
<!-- <b>
<center>
<h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16">Inventory</h3>
</center>
</b>
</br>
</br> -->

<h3 class="w3-border-bottom w3-border-grey w3-padding-16">
Audio/Visual
</h3></br>

<% @items.each do |t| %>
<% if t.category == "Audio/Visual" %>
    <h4>
<%= link_to t.name, show_item_path(id: t.id), class: "w3-button w3-dark-grey w3-section" %>
    </h4>
    <% end %>
  <% end %>

<h3 class="w3-border-bottom w3-border-grey w3-padding-16">
Books/Games
</h3></br>

<% @items.each do |t| %>
<% if t.category == "Books/Games" %>
<h4>
<%= link_to t.name, show_item_path(id: t.id), class: "w3-button w3-dark-grey w3-section" %>
</h4>
<% end %>
<% end %>

<h3 class="w3-border-bottom w3-border-grey w3-padding-16">
Events
</h3></br>

<% @items.each do |t| %>
<% if t.category == "Events" %>
<h4>
<%= link_to t.name, show_item_path(id: t.id), class: "w3-button w3-dark-grey w3-section" %>
</h4>
<% end %>
<% end %>

<h3 class="w3-border-bottom w3-border-grey w3-padding-16">
Lost and Found
</h3></br>

<% @items.each do |t| %>
<% if t.category == "Lost and Found" %>
<h4>
<%= link_to t.name, show_item_path(id: t.id), class: "w3-button w3-dark-grey w3-section" %>
</h4>
<% end %>
<% end %>

<h3 class="w3-border-bottom w3-border-grey w3-padding-16">
Other
</h3></br>

<% @items.each do |t| %>
<% if t.category == "Other" %>
<h4>
<%= link_to t.name, show_item_path(id: t.id), class: "w3-button w3-dark-grey w3-section" %>
</h4>
<% end %>
<% end %>

</br>
</br>
</br>

<!-- <h3 class="w3-border-bottom w3-border-dark-grey w3-padding-16">
  All Items
</h3>
  <% @items.each do |t| %>
    <h4>
      <%= link_to t.name, show_item_path(id: t.id), class: "w3-button w3-dark-grey w3-section" %>
    </h4>
    <% end %> -->

</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

</body>
</html>
